[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cranlike"]
	path = cranlike
	url = https://github.com/r-hub/cranlike
	shallow = true
	registered = true
[submodule "cranlogs"]
	path = cranlogs
	url = https://github.com/r-hub/cranlogs
	shallow = true
	registered = true
[submodule "pkgsearch"]
	path = pkgsearch
	url = https://github.com/r-hub/pkgsearch
	shallow = true
	registered = true
[submodule "rhub"]
	path = rhub
	url = https://github.com/r-hub/rhub
	shallow = true
	registered = true
[submodule "rversions"]
	path = rversions
	url = https://github.com/r-hub/rversions
	shallow = true
	registered = true
