[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cranlike"]
	path = cranlike
	url = https://github.com/r-hub/cranlike
[submodule "cranlogs"]
	path = cranlogs
	url = https://github.com/r-hub/cranlogs
[submodule "pkgsearch"]
	path = pkgsearch
	url = https://github.com/r-hub/pkgsearch
[submodule "rhub"]
	path = rhub
	url = https://github.com/r-hub/rhub
[submodule "rversions"]
	path = rversions
	url = https://github.com/r-hub/rversions
